/* -------------------- Global Styles -------------------- */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff0f6;
    color: #4a033c;
    line-height: 1.7;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

/* -------------------- Header -------------------- */
header {
    text-align: center;
    backgroun
